*{
   padding: 0px;
   margin: 0px;
   font-family: Arial;
   border: border-box;
}
.nav-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 2px solid transparent;
}
.logo{
    background-image: url(./amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border:hover{
    border: 2px solid white;
}
/* box2 */
.box2{
    height: 50px;
    width: 80px;
}
.nav-2{
    margin-top: 8px;
}
.s3{
    display: flex;
}
.s1{
    font-size: 13px;
    margin-left: 13px;
    color: #cccccc;
}
.s2{
    font-size: 16px;
    margin-left: 3px;
}
/* search bar */

.searchbar{
    display: flex;
    background-color: #cccccc;
    height: 40px;
    width: 900px;
    justify-content: space-evenly;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input{
    display: flex;
    width: 816px;
    font-size: 14px;
    margin-left: 2px;
    border: none;
    
}
.all{
    background-color: #cccccc;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.q1{
    width: 45px;
    display: flex;
    background-color: rgb(231, 167, 72);
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* box4 */
.box4{
    width: 120px;
    height: 50px;
    margin-top: 10px;
    margin-left: 4px;
}
.boxx{
    height: 50px;
    width: 120px;
}
.bb1{
    font-size: 14px;
    color: #cccccc;
}
.bb2{
    font-size: 15px;
}
/* box5 */
.boxx5{
    margin-top: 10px;
    margin-left: 10px;
}
.box5{
    height: 50px;
    width: 80px;
}
.bx1{
    font-size: 14px;
    color: #cccccc;
}
.bx2{
    font-size: 15px;
}
/* box6 */
.box66{
    height: 50px;
    width: 80px;
}
.box6{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}
.bx6{
    font-size: 27px;
}
.bx66{
    margin-top: 10px;
    margin-left: 2px;
}
/* Panel 2 */
.panel{
    height: 40px;
    background-color: #1e2334;
    color: white;
    display: flex;
    
}
.partt{
    display: flex;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-left: 5px;
    justify-content: space-evenly;
}
.panel-ops{
    width: 500px;
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 200px;
}
/* main content */
.main{
    height: 300px;
    width: 1519px;
}
.main-1{
    height: 300px;
    width: 1519px;
    background-image: url(./Hero.jpg);
    background-size: cover;
    display: flex;
}
.msg{
    height: 40px;
    width: 1480px;
    margin-left: 25px;
    margin-top: 250px;
}
.msg-1{
    height: 40px;
    width: 1460;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 14px;
}
.a-tag{
    text-decoration: none;
}
/* Shop-class */
.content{
    height: 730px;
    background-color: bisque;
}
.sub-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sub{
    height: 330px;
    width: 330px;
    border: 2px solid black;
    margin-top: 19px;
    background-color: white;
    flex-wrap: wrap;
}
h3{
    margin-top: 5px;
    margin-left: 20px;
}
h6{
    margin-left: 20px;
    margin-top: 20px;
}
.c1{
    display: flexbox;
}
.img-1{
    background-image: url(box1\ \(3\).jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.c2{
    display: flexbox;
}
.img-2{
    background-image: url(./box2.jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.c3{
    display: flexbox;
}
.img-3{
    background-image: url(./box3.jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.c4{
    display: flexbox;
}
.img-4{
    background-image: url(./box4.jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.c5{
    display: flexbox;
}
.img-5{
    background-image: url(./box5.jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}
.img-6{
    background-image: url(./box6.jpg);
    background-size: contain;
    height: 300px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}
.img-7{
    background-image: url(./box7.jpg);
    background-size: cover;
    height: 230px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.img-8{
    background-image: url(./box\ 8.jpg);
    background-size: cover;
    height: 250px;
    width: 285px;
    margin-top: 10px;
    margin-left: 20px;
    background-repeat: no-repeat;
}
/* Footer */
.footer-1{
    height: 50px;
    font-size: 14px;
    background-color: #2f3546;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-2{
    height: 300px;
    width: 1519px;
    display: flex;
    background-color: #222f3d;
    color: white;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
a{
    font-size: 14px;
    color: #dddddd;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
/* footer3 */
.footer-3{
    height: 50px;
    background-color: #222f3d;
    border-top: 0.1px solid rgb(191, 185, 185);
    display: flex;
    justify-content: center;
}
.sub-foot3{
    background-image: url(./amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}